html{
    margin: 0% 0%;
}
.card{
    padding: 1% 0.5%;
    border: transparent;
}
.card-img{
    padding: 1% 30%;
}
.card.text.row{
    padding-bottom: 5%;
}
.list-group-item{
    background-color:transparent;
    border-bottom:transparent;
}
.hlt{
    color: darkgray;
}
h2{
    color: rgb(15, 120, 240);
}
h3{
    color: rgb(90, 92, 95);
}
.ubtn{
    /*margin-right:10%;*/
    margin: 1% 35%;
    height: 50%;
    
}